h1 {
  font-size: 100px;
  padding-left: 25px;
  border-left: 50px solid pink;
  color:#6495ed;
  text-align: justify;
  box-shadow:10px 10px 10px green;
  text-shadow:20px 20px 20px skyblue;
    
  }
h2 {
  font-size:24px;
  padding-left:16px;
  border-left:8px solid blue;
  color:chocolate;
}

[src*=グアム]  {
  width: 200px;
  border-radius:5px;
  border:5px solid green;
}


[src*=スキまる誕生]  {
  width: 200px;
  border-radius:5px;
  border:5px solid red;
}

[src*=ゴキマル]  {
  width: 200px;
  border-radius:5px;
  border:5px solid brown;
}

[src*=沖縄]  {
  width: 200px;
  border-radius:5px;
  border:5px solid skyblue;
}


[src*=雪遊び]  {
  width: 200px;
  border-radius:5px;
  border:5px solid #cff;
}


[src*=ドラたん]  {
  width: 200px;
  border-radius:5px;
  border:5px solid purple;
}

[src*=ワイハ] {
  width:200px;
  border-radius:5px;
  border:5px solid skyblue;
}
p {
  font-size:20px;
  padding-left:40px;
  color:black;
  margin-bottom:10px;
  text-align: justify;
  font-weight:bold;
}
p1{
  
  color:red;
  
}
li {
  list-style:none;
}

#top > a {
  text-decoration:none;
  
  color:black;
  font-weight:bold;
  font-size:23px;
  
  
  
  
}
#dora {
  color:black;
  font-size:20px;
  font-weight:bold;
  
}
body {
  background: #bdc3c7;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

main {
  width: 300px;
  background: #ecf0f1;
  padding: 20px;
  border: 4px solid #fff;
  border-radius: 12px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
}

.panel img {
  width: 90px;
  height: 110px;
  margin-bottom: 4px;
}

.stop {
  cursor: pointer;
  width: 90px;
  height: 32px;
  background: #ef454a;
  box-shadow: 0 4px 0 #d1483e;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  user-select: none;
}

#spin {
  cursor: pointer;
  width: 280px;
  height: 36px;
  background: #3498db;
  box-shadow: 0 4px 0 #2880b9;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto;
}

.unmatched {
  opacity: 0.5;
}

.inactive {
  opacity: 0.5;
}

#slot {
  height:80px;
  line-height: 80px;
  text-align:center;
  font-size:25px;
  font-weight:bold;
  color:blue;
  background-color: chocolate;
  padding:0;
  border:4px solid gold;
  border-radius: 10px;
  margin-left:100px;
  margin-right:100px;
}

img:hover {
  transform:scale(1.5);
}
  