h1 {
  font-size: 100px;
  padding-left: 25px;
  border-left: 50px solid pink;
  color:#6495ed;
  text-align: justify;
  box-shadow:10px 10px 10px green;
  text-shadow:20px 20px 20px skyblue;
    
  }
h2 {
  font-size:24px;
  padding-left:16px;
  border-left:8px solid blue;
  color:chocolate;
}

img {
  width: 200px;
}
p {
  font-size:30px;
  padding-left:40px;
  color:black;
  margin-bottom:10px;
  text-align: justify;
}
p1{
  background-color:skyblue;
  color:red;
  
}

#top > a {
  text-decoration:none;
  color:black;
  font-weight:bold;
  font-size:23px;
  margin-left:300px;
  
  
}
#dora {
  color:black;
  font-size:30px;
  
}

  
